@model MZ_PROGRESO1.Models.ZUMARRAGA

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ZUMARRAGA</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mzCalificacionFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mzCalificacionFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mzNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mzNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mzApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mzApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mzCorreo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mzCorreo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mzCodigoPostal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mzCodigoPostal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mzEstudianteNuevo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mzEstudianteNuevo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mzFechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mzFechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mzPromedioConducta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mzPromedioConducta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.mzCodigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
